<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Clients</title>
    <link
      rel="icon"
      type="image/x-icon"
      class="h-25"
      href="/src/assets/images/fav_icon.png"
    />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/src/components/clients/clients" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/script.js "></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    >
  </script>
  </head>

  <body>
    <div id="nav-placeholder"></div>

    <div class="content py-3 my-4" style="height: 55.6vh">

      <div class="container-fluid col-sm-10">
        <div class="row justify-content-center mt-5 mb-5">
          <div class="col-sm-2 m-auto p-2">
            <!-- <img
              src="/src/assets/images/bosch.png"
              alt="research-student"
              width="100%"
              height="200vh"
            /> -->
          </div>
          <div class="col-sm-2 m-auto p-2">
            <!-- <img
              src="/src/assets/images/saudi-aramco.png"
              alt="research-student"
              width="100%"
              height="200vh"
            /> -->
          </div>
          <div class="col-sm-2 m-auto p-2">
            <!-- <img
              src="/src/assets/images/assystem-logo.png"
              alt="research-student"
              width="100%"
              height="100vh"
            /> -->
          </div>
        </div>
      </div>
    </div>

    <div id="footerdgb"></div>

    <script>
      $(function () {
        $("#nav-placeholder").load("/src/commonUI/navbar.html");
      });
      $(function () {
        $("#footerdgb").load("/src/commonUI/footer.html");
      });
    </script>
  </body>
</html>
